@charset "utf-8";

/*googleips 웹폰트 css 파일 불러오기*/
@import url(https://fonts.googleapis.com/css?family=Galada|Nanum+Gothic|Nanum+Myeongjo);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;900&display=swap');
/*
font-family: 'Noto Sans KR', sans-serif;
*/
/*font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Galada', cursive; */

/* 저장된 글꼴 파일 선언*/
/* @font-face { font-family : font_gothic;    
                src : url(../font/NanumGothic.ttf); }  */
/* 웹사이트의 글꼴 파일 선언*/
/* @font-face { font-family : font_gothic;    
                src : url(http://uhbee.com/nanum.eot) ; }   */


* {margin:0; padding:0;}
html{font-size:16px;}
body{ font-size:16px;
      color:#6f6f6f;
      font-family: 'Nanum Gothic', sans-serif }
ul, ol, li{list-style-type:none}
img, fieldset{border:none;vertical-align: middle}
hr {clear:both;border:none}
a {color:inherit;text-decoration:none;
   outline:0}
table{border-collapse:collapse}
input, textarea,
input::placeholder, textarea::placeholder {
      color:inherit;font-size:inherit;
       font-family:inherit;
       vertical-align: middle;
      outline: 0;}
button{outline:0}

.sound_only{display: block;text-indent:-9999999999px;
      height:0}

.inner{min-width:1024px;max-width:1280px;margin:0 auto;}   
.headerinner{min-width:1633px;max-width:1833px;margin:0 auto;}

#wrap{overflow: hidden;}
/*네비*/

#header .top_icon{ width: 10%;
  height:75px; margin-bottom: 30px; margin-right: 30px;
  min-width: 200px;
     }
#header .top_icon ul li{ width: 100px;
      display: inline; height: 74px; }   


.top_icon .select_tit{border: 1px solid rgb(165, 165, 165); padding:1px 20px 1px 20px; font-size: 0.8rem;
      float: right;background-color: rgb(9, 37, 94);  color: #fff; font-weight: 500;}
      
.top_icon li{position: relative;}   
      
.top_icon .select_tit::after{content: ''; display: inline-block; width: 15px; height: 15px;
                     background: url(../images/icon_set1.png);
                     background-position: -5px -425px;
                     transform: rotate(-90deg); margin-left: 4px; margin-top: 5px;}
.top_icon  .list{position: absolute; left: 0;  border: 1px solid #000;
             width: 132px; box-sizing: border-box; padding: 10px; display: none;
              background-color: white; margin-left: 68px;
            top: 53px;}  
.top_icon  li:hover .list{display: block; height:120px;} 
.top_icon  li:hover .select_tit{background-color:  #000;; transition: 2s; color:#fff}           
.top_icon  li:hover .select_tit::after{transform: rotate(90deg);}         
.top_icon .list a:hover{color: rgb(82, 79, 79); bottom: 0px; font-weight: 900; }
.top_icon .list a {display: block;  text-align: center;} 





  /* 네비4 - 메가네비100% */
#header{position: absolute; width: 100%; min-width: 1024px;}
#nav{display:flex;justify-content:space-between;
        margin-top: 30px;
      line-height: 3.2em;
      position: relative;
      margin-bottom: 3px;     
   }
#m_nav{height: 3.2em;
      overflow: hidden; 
      background-color:rgba(255,255,255,0);
      transition:1s;
      width: 100%;
      z-index: 1;
      margin: 0 auto;      
   }  
 #m_nav > li{
         margin-left: 49px;
      float:left;
      width:4.0em;
      padding:0 2em; 
      width: 120px;
   }
#m_nav > li:last-child{margin-left: 30px;}
#m_nav > li > a{
      color:#000;
      font-size:1.3rem;
      height: 100px;
      width: 200px; 
   }
#m_nav ul li{
      display:block;
      line-height: 2em;  
   }
#m_nav ul li a{
      font-size:0.9em;
      margin-top: 200px;
   }
#m_nav ul li a:hover{color: rgb(8, 27, 88); font-weight: 600;}
  
#m_nav > li > a:after {content: '';height:3px; background-color:rgb(8, 27, 88);
      position: relative;width:0;display: block;
      transition: 0.5s;
      margin-top: 25px; margin-bottom: 14px;}
#m_nav  > li:hover > a:after{width:100%;}




#header #logo{z-index: 80px }
#header #logo a{vertical-align: middle;
}
#logo{ margin-right: 20px;}
#logo img{width:40%; top: -20px; margin-bottom: 5px; margin-left: 40px; }

h2{font-size: 1.875rem; display: inline-block;}
h3{font-size: 0.9375rem; display: inline-block;}

#header #logo{float:left;}


#footer{width:100%; height: 206px; background-color: rgb(15, 15, 15);}

#footer .con2 li{color: rgb(165, 165, 165); display: inline;  float: left;
      font-size: 0.8rem; margin-top: 50px;}
#footer .s{border: 0.5px solid rgba(105, 105, 105, 0.342); margin-top: 15px;}

#footer .foot1{float: right; } 
#footer .foot1 li{float: right; margin-top: 30px;}
#footer .con1{width: 500px; height: 80px;}
#footer .con1 li{float: left; margin-right: 20px;
      color: rgb(165, 165, 165); display: inline;  float: left;
      font-size: 0.7rem; margin-top: 20px; }
#footer .select_tit{border: 1px solid rgb(165, 165, 165); padding:10px 20px 15px 20px; font-size: 0.8rem;
float: right;transition: 1s; }

.foot1 .select_tit::after{content: ''; display: inline-block; width: 15px; height: 15px;
               background: url(../images/icon_set1.png);
               background-position: -5px -425px;
               transform: rotate(-90deg); margin-left: 4px;}
.foot1 .list{position: absolute; left: 0; bottom: 42px; border: 1px solid #000;
             width: 100%; box-sizing: border-box; padding: 1px; display: none;
             height: 500px; background-color: rgb(99, 99, 99); transition: 1s;
             color: #fff;
            }  
.foot1 li{position: relative;}             
.foot1 li:hover .list{display: block; height: auto;transition: 1s; }  
.foot1 li:hover .select_tit{background-color: #fff; color: #000;}          
.foot1 li:hover .select_tit::after{transform: rotate(90deg);}         
.foot1 .list a {display: block; margin:5px;margin-bottom: 10PX;} 
.foot1 .list a:hover{color: rgb(15, 11, 11); font-weight: 900; }

.foot1 #left li a{float: left;}

#footer .con1 .hope{font-size: 1.0px; color: rgba(110, 109, 109, 0.541);}

#footer .con2{width: 70%; height: 80px;}
#footer .con2 li{display: inline-block; margin-right: 100px;}

/*---------------------------------------------------------------------------------*/