/*메인 슬라이드 */


#sec1 .slick-dots li{display:inline-block;}
#sec1 .slick-dots{text-align: center;width: 100%; position: absolute;
  bottom: 14px;} 
#sec1 .slick-dots li button{border-radius: 80px; width: 20px;text-indent: 9999px;background-color: rgb(104, 100, 100); 
  border: 1px solid   rgb(104, 100, 100);; margin-right: 10px;}
#sec1 .slick-dots li.slick-active button{background-color: rgb(216, 216, 216);border: 1px solid rgb(216, 216, 216) }








/*-----------------------------------------*/

/* 뉴스 슬라이드 */

#sec5 .slick-slide{margin-left: 30px; margin-top: 40px;}
#sec5 .slick-slide h1{font-size: 1.0rem; margin-top: 10px;}
#sec5 button{}
#sec5 .variable{ position: relative; width: 1900px;}
#sec5 .slick-arrow{position: absolute; top: 0;  z-index: 9999; }
#sec5 .slick-prev{left: 0; z-index: 9999; text-indent: 9999px; width: 30px; height: 30px; border: none;  }
#sec5 .slick-next{left: 40px;z-index: 9999; text-indent: 9999px;width: 30px; width: 30px; height: 30px; border: none; }

